HELP.md
target/
out/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### MacOs ###
.DS_Store

### IntelliJ IDEA ###
.idea
.mvn
.linshi
mvnw.cmd
mvnw
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

*_password.*